/*  fonts  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --color-primary: #4576a7;
    --color-secondary: #8bd5ab;
    --color-terciary: #bbefd2;
    --color-bg-op1: #f6f6f6;
    --color-text: #54595e;

    --gradient-1: linear-gradient(90deg, var(--color-primary) 0,var(--color-secondary) 51%,var(--color-primary));
    --gradient-2: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    --gradient-3: linear-gradient(45deg, var(--color-secondary), var(--color-primary));

    --transition: all 400ms ease;
    --transition-1: 0.15s ease;
    --transition-2: 0.35s ease;

    --shadow: 0 5px 10px 1px hsla(0, 0%, 0%, 0.1);
    
    /* scroll bar colors */
    --scroll-bar-color: #f5eee8;
    --scroll-thumb-color: #639a7b;
    --scroll-thumb-hover-color: #4576a7;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: var(--gradient-2);
    color: var(--color-text);
}

html {
    scroll-behavior: smooth;
}

.container{
    width: 70%;
    margin: auto;
    padding: 60px 0;
}

/* Scroll to Top Button */
.scrollToTop-btn{
    z-index: 99999;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 32px;
    height: 32px;
    background: var(--color-primary);
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: .5s ease;
    box-shadow: var(--shadow);
}

.scrollToTop-btn i{
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollToTop-btn.active{
    right: 20px;
    pointer-events: all;
    opacity: 1;
}

/* Scroll Bar */
::-webkit-scrollbar{
    width: 10px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-thumb-hover-color);
}

/* SPLASH SCREEN */
.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: var(--gradient-3);
    transition: 1s ease;
}

.intro .intro-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 2px;
}

.intro .logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* == Header == */
.header{
    text-align: center;
}

.header .title{
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 50px;
    color: white;    
}

.header .description {
    margin: 0 0 30px 0;
    color: white;
}

/* == Arki Form == */
fieldset{
    border: none;
    background-color: var(--color-bg-op1);
    margin-bottom: 30px;
    border-radius: 15px;
    align-items: center;
    align-content: center;
    padding: 35px 20px;
    box-shadow: var(--shadow);
}

fieldset legend{
    font-family: 'Noto Serif';
    padding: 5px 15px;
    background-color: var(--color-primary);
    border-radius: 15px;
    margin-left: 25px;
    color: white;
    font-size: 14px;
}


/* elements */
.form-elements{
    padding: 0 30px;
    display: flex;
    flex-direction: column; 
    margin-bottom: 10px;
}

.form-elements label{
    margin-bottom: 8px;
}

.top .form-elements input{
    margin-bottom: 10px;
}

label#proprietario,
label#cpf-cnpj{
    font-weight: 600;
}

.form-elements input{
    background-color: white;
    border: 1px solid #d2d2d2;
    padding: 8px 15px;
    border-radius: 15px;
}

.form-elements p,
.form-elements label{
    border-radius: 15px;
    padding: 0 15px;
    font-weight: 600;
}

.form-elements p span,
.form-elements label span{
    font-size: 10px;
    transform: translateY(-8px);
}

.form-elements .radio-elements{
    margin-bottom: 5px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.form-elements .radio-elements label{
    font-weight: 400;
}

.input-radio{
    margin-right: 8px;
    margin-left: 20px;
}

#dropdown{
    background-color: white;
    border: 1px solid #d2d2d2;
    padding: 8px 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: var(--color-text);
    font-size: 14px;
}

.sub-element{
    width: 65%;
    margin: auto;
    background-color: #ececec;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 20px;
    transform: translateY(-10px);
    align-items: center;
    margin-top: 20px;
}

.sub-element .radio-elements{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin: 0 !important;
    width: 100%;
}

.sub-element label,
.sub-emelent p,
.sub-element .radio-elements label{
    font-size: 12px;
}

.sub-element input{
    width: 100%;
}

.inputs-pilar {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: space-around;
}

.inputs-pilar input{
    margin-bottom: 5px;
}

/* REVESTIMENTOS */

.revestimentos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start
}

.revestimentos .sub-element{
    width: 90%;
}

.forro{
    grid-column: 1/3;
}

/* ESQUADRIAS */
.esquadrias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start
}

.esquadrias .form-elements:nth-child(1) p{
    text-align: center;
    font-size: 16px;
    background-color: #c5dbbe69;
    padding: 3px;
    margin-bottom: 15px;
}

.esquadrias .sub-element{
    width: 90%;
}

.esquadrias .input-checkbox{
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 0;
}

.esquadrias .material{
    margin-top: 30px;
}

/* INFORMAÇÕES ADICIONAIS */
textarea{
    font-family: 'Open Sans', sans-serif;
    border: none;
    padding: 5px;
    box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 0.1);
}

/* SUBMIT BUTTON */
.btn {
    display: flex;
    margin: 0 auto;
    padding: 8px 35px;
    border: none;
    background-color: var(--color-secondary);
    border-radius: 15px;
    font-family: 'Noto Serif', serif;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: var(--shadow);
    color: var(--color-text);
    cursor: pointer;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    margin: 0 auto 30px;
}

.footer-container{
    width: 100%;
    align-items: center;
}

.footer-container p{
    color: var(--color-bg-op1);
    font-size: 14px;
    text-align: center;
}

/* ===========
   MEDIA QUERIES
   =========== */

   @media screen and (max-width: 1070px){
    
    .container{
        width: 80%;
        margin: auto;
        padding: 60px 0;
    }

    /* RADIO INPUTS */
    .form-elements .radio-elements{
        margin: 8px 0 5px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .form-elements .radio-elements label{
        padding: 0;
    }
   }

   @media screen and (max-width: 780px) {
    .container {
        width: 90%;
    }

    /* REVESTIMENTOS e ESQUADRIAS */
    .revestimentos{
        display: block;
    }

    .esquadrias{
        display: block;
    }

   }

   @media screen and (max-width: 470px) {
    /* HEADER */
    .header .title{
        font-size: 40px;
        margin-bottom: 0;
    }

    .header .description{
        font-size: 14px;
        margin-bottom: 30px;
    }

    /* FIELDSETS: LEGEND */
    fieldset legend{
        margin-left: 0;
    }
    /* ELEMENTS */
    .form-elements{
        padding: 0;
    }

    .sub-element{
        width: 100%;
        padding: 3px 8px;
    }

    :is(.revestimentos, .esquadrias) .sub-element{
        width: 100%;
        padding: 5px 8px;
    }

    /* FOOTER */
    .footer-container p{
        font-size: 12px;
    }
   }